:root {
  font: 16px / 1 sans-serif;
  /* SDG Colors */
  --bright-sky: #80ced2;
  --night-sky: #85577e;
  --sun: #d5562b;
  --sea: #5a9090;
  --sand: #f7f0da;
  --asphalt: #2f3737;
  --lime: #b1d133;
  --tangerine: #f99d1b;
  /* Favicon Colors */
  --big-d: #00b7ff;
  --cessna: #5e5e5e;
  --orange-sun: #f15a24;
  --yellow-sun: #fcee21;
  --cyan-ocean: #00bfe9;
  --blue-ocean: #00217f;
  /* Custom Webpage Colors */
  --pale-green: #e1eedd;
  --mando-blue: #1857a4;
  --slate: #c8d8e4;
  /* Auto Colors */
  --beau-blue: #c8d8e4ff;
  --honeydew: #e1eeddff;
  --lapis-lazuli: #336699ff;
  --charcoal: #2f4858ff;
  --international-orange-aerospace: #fe5d26ff;
  --amazon: #4a7c59ff;
  --copper: #a8763eff;
  --bdazzled-blue: #1857a4ff;
  --byzantium: #7a3b69ff;
  /* Custom Text Colors */
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--amazon);
}

.first-player {
  background-color: var(--night-sky);
}

.second-player {
  background-color: var(--bdazzled-blue);
}

/* Landing Page */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  margin-bottom: 1em;
  padding-bottom: 3.5em;
  text-align: center;
  background: var(--charcoal);
  color: white;
  clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
}

header img {
  height: 200px;
  width: auto;
}

header div {
  height: auto;
  width: 300px;
  border-bottom: var(--copper) 5px solid;
}

header h1 {
  width: auto;
  padding-top: 20px;
  margin: 0;
}

header p {
  font-size: x-large;
  padding-bottom: 0;
  margin-bottom: 0;
}

@keyframes rotateAnimation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.logo:hover {
  animation: rotateAnimation 3s linear infinite;
}

main {
  justify-content: center;
  text-align: center;
}

.options button {
  border-radius: 50px;
  padding: 5px;
  letter-spacing: 5px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  overflow: hidden;
}

.start-span {
  cursor: pointer;
  position: absolute;
  width: 143px;
  height: 60px;
  z-index: 1;
  left: 0;
  transition: 0.2s linear;
}

.rules-span {
  cursor: pointer;
  position: absolute;
  width: 160px;
  height: 60px;
  z-index: 1;
  left: 0;
  transition: 0.2s linear;
}

.options p {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 40px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  z-index: 2;
}

.options:hover p {
  color: white;
}

.options:nth-child(1) span {
  transform: translateY(60px);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background: rgb(235, 72, 23);
}

.options:nth-child(1):hover span {
  transform: translateY(-10px);
  border-radius: 50px;
}

.options:nth-child(2) span {
  transform: translateY(-115px);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background: rgb(236, 31, 117);
}

.options:nth-child(2):hover span {
  transform: translateY(-10px);
  border-radius: 50px;
}

/* Player Choices Css */
.choices {
  background-color: #ffffff00;
  height: 150px;
  width: 150px;
  cursor: pointer;
  border-radius: 50px;
  margin-bottom: 10px;
  font-weight: bold;
  margin-left: 10px;
}

.choices a {
  text-decoration: none;
  color: black;
}

.choices svg {
  height: 100px;
  width: 100px;
  filter: grayscale(100%) opacity(0.7);
}

.choices:hover svg,
.choices:hover span {
  filter: grayscale(0%) opacity(1);
  color: white;
}

.player-one:focus svg,
.player-two:focus svg {
  filter: grayscale(0%) opacity(1);
}

/* Player One CSS */
.player-one-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.player-one-page a {
  align-self: flex-end;
}

.close-game {
  width: 20px;

  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.close-game:hover {
  animation: radiate-small 0.75s infinite;
  fill: white;
}

.p1 {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.p1 h1 {
  font-size: 50px;
  text-decoration: underline;
}

.p1 h1:hover {
  color: white;
}

.p1 div {
  display: flex;
}

/* Player Two Page */
.player-two-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.player-two-page a {
  align-self: flex-end;
}

.close-game {
  width: 20px;

  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.close-game:hover {
  animation: radiate-small 0.75s infinite;
  fill: white;
}

.p2 {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.p2 h1 {
  font-size: 50px;
  text-decoration: underline;
}

.p2 h1:hover {
  color: white;
}

.p2 div {
  display: flex;
}

/* Winner Page CSS */
.results-page {
  padding: 0;
  padding-bottom: 3.5em;
}

.results-page a {
  align-self: flex-end;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translate(0px, 0px);
  }
  30% {
    transform: scale(1, 0.8) translate(0px, 10px);
  }
  75% {
    transform: scale(1, 1) translate(0px, -5px);
  }
  100% {
    transform: scale(1, 1) translate(0px, 0px);
  }
}

.winner-btn {
  border-radius: 50px;
  padding: 5px;
  letter-spacing: 5px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  overflow: hidden;
  animation: bounce 0.75s infinite;
}

.home-span {
  cursor: pointer;
  position: absolute;
  width: 600px;
  height: 60px;
  z-index: 1;
  left: 0;
  transition: 0.2s linear;
}

.winner-btn span {
  transform: translateX(400px) translateY(-10px);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  background: rgb(23, 133, 235);
}

.winner-btn:hover span {
  transform: translateY(-10px);
  border-radius: 50px;
}

.winner-btn:hover p {
  color: white;
}

.winner-text {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 40px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  z-index: 2;
}

/* Rules Page CSS */
.rules {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rules a {
  align-self: flex-end;
}

.close-rules {
  width: 20px;

  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}

@keyframes radiate-small {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.close-rules:hover {
  animation: radiate-small 0.75s infinite;
  fill: white;
}

.rule-image {
  width: 80vw;
  height: 80vh;
  padding-top: 40px;
}
